<?xml version="1.0" encoding="UTF-8"?>
<!-- Manual <configuration>: https://logback.qos.ch/manual/configuration.html -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Manual formato <pattern>: https://logback.qos.ch/manual/layouts.html -->
            <pattern>%magenta(%d) %boldGreen(%-25.-25logger{0}) %highlight(%-6level) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>